/*#######################
			HEADER
	#######################*/

header{
	background-size: 100%;
	background-position: center;
	background-color: none;
}


/*LOGO*/
.logo {
	display: block;
	margin : auto;
	margin-top : 5px;
	position:relative;
	z-index: 1031;
}

#croixlogo {
	position: relative;
	top: 10%;
	display: block;
	margin : auto;
	margin-bottom:10px;
	z-index: 1031;
}

/*BAR DE NAV ECRAN*/

.navbar .navbar-nav{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	float: none;
	text-align: center;
	background-color: white;
	width: 80%;
	z-index: 1;
}

.navbar-default {
	border: none;
	background: white;
	box-shadow: none;
	display: block;
	margin:auto;
	width: 100%;
	text-align: center;
}

.navbar-default .navbar-nav>li>a{
	border:none;
	text-decoration: none;
	font-family: $gothic;
	font-size: 135%;
	color: $roseclair;
	margin:auto;
	text-align: center;
	z-index:1;
}

.navbar-default .navbar-nav>li>a:hover{
	color: $rosefonce;
	background-color: none;
	font-weight: bold;
 	-webkit-box-shadow: none;
}

.navbar-default .navbar-nav>.active>a{
	color: $rosefonce;
	background: none;
	font-weight: bold;
	-webkit-box-shadow: none;
}

.navbar-default .navbar-nav>.active>a:hover{
	color: $rosefonce;
	background: none;
	font-weight: bold;
}

/*BAR DE NAV MOBILE*/
.navbar-toogle{
	position: absolute;
	float:left;
	margin-left: 15px;
	margin-top:40px;
	margin-bottom:18px;
}


.navbar-default .navbar-toggle .icon-bar{
	background-color: $rosefonce;
}

.navbar-default .navbar-toggle{
	border-color: $rosefonce;
	background-color: transparent;
	position: relative;
	float:left;
	margin-left: 15px;
	margin-top:40px;
	margin-bottom:18px;
}

.navbar-default .navbar-toggle:hover{
	background-color: $rosefonce;
}

.navbar-default .navbar-toggle:hover .icon-bar {
	background-color: white;
}

.navbar-default .navbar-toggle:focus{
	background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar:hover{
	background-color:white;
}


/*PANIER*/
#panier {
	background: url(images/mfe_panier.ico) center no-repeat;
	width: 100px;
	height: 100px;
	position:fixed; 
	top:4px;
	right: 1px;
	text-align: center;
	font-family: berlin sans fb, sans-serif;
	color: $grispolice;
	z-index: 1032;
}

#nb-article {
	line-height: 120px;
	font-size: 130%;
}

#panier:hover{
	text-decoration: none;
	background: url(images/mfe_panier_hover.ico) center no-repeat;
}

/*VERSION IPAD DU HEADER*/

@media (max-width:991px) and (min-width:768px){
	.logo {
		display: block;
		margin-left:10px;
		position:relative;
		z-index: 1031;
	}

	#croixlogo {
		position: relative;
		top: 10%;
		display: block;
		margin-left:10px;
		z-index: 1031;
	}

	#panier {
		width: 90px;
		height: 90px;
		top:3px;
		right: 1px;
	}

	#nb-article {
		line-height: 110px;
	}

	.navbar .navbar-nav{
	margin-left: 80px;
	width: 100%;
	}
}

/*VERSION MOBILE DU PANIER ET DU LOGO*/

@media (max-width:767px){
	#panier {
		width: 40px;
		height:57px;
		top:30px;
		right: 10px;
	}
	
	#nb-article {
		line-height: 65px;
	}

	.logo {
		width: 80px;
	}

	#croixlogo {
		width: 60px;
	}
}