/*######################
		INDEX
#######################*/

/*BANDEAU*/
.col-md-6{
	padding-left:0px;
	padding-right:0px;
}

.croix{
	text-align: center;
	margin: 1%;
}

/*INFOS*/
.info .row{
	font-family: $gothic;
	font-size: 120%;
	color: $grispolice;
	margin-right:auto;
	margin-left:auto;
	margin-top: 2%;
	margin-bottom: 2%;
	text-align:justify;
}

.info .row .col-md-6 {
	border: 2px solid $roseclair;
	padding: 1%;
}

.info .row .col-md-3 {
	border: 2px solid $roseclair;	
	padding: 1%;
}