
//CHARTE GRAPHIQUE

//COLOR

$rosefonce : #CA5F61;
$roseclair :#DD926F;
$grisfond :#969696;
$grispolice: #3F3E3B;

//FONTS

$gothic : "Century Gothic",Arial,Helvetica,sans-serif;
$policelogo : "Amatic SC", Helvetica,sans-serif;

